.home {
  height: 100vh;
}

.header {
  max-width: 1920px;
  max-height: 80px;
  border: 0px 0px 1px 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.logo {
  max-height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #f68b1e;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
}

.nav a:hover {
  color: #f68b1e;
}

.search-container {
  position: relative;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #ffffff;
  transition: border-color 0.3s;
}

.search.focused {
  border-color: #007bff;
}

.search.hovered {
  border-color: red;
}

.search.pasting {
  border-color: #28a745;
}


.search .icon {
  margin-right: 10px;
  color: #f68b1e;
}

.search input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 200px;
}

.search input::placeholder {
  color: #d9d9d9;
}

.profile {
  display: flex;
  gap: 5px;
  cursor: pointer;
  position: relative;
}

.profile-image{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #007bff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.1);
}
.profile-image span{
  position: absolute;
  top: 64%;
  left: 13%;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: green;
}

.profile-name {
  font-weight: bold;
}

.profile-email {
  color: #666666;
  font-size: 14px;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 99;
}

.dropdown a, .dropdown button {
  text-decoration: none;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px 0;
  text-align: left;
}

.dropdown a:hover, .dropdown button:hover {
  color: #f68b1e;
}

/* Main */
main{
  padding: 0 80px;
}
.filter-container{
  
  width: 60vw;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  position: relative;
  display: flex;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tabs p{
  font-size: 1rem;
  font-weight: 600;
  cursor: default;
}

.tabs button {
 
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
}

.tabs .active {
  border-bottom: 2px solid #007bff;
}

.filter {
  position: absolute;
  margin: 20px 0;
  left: 42vw;
}

.filter label {
  margin-right: 10px;
}

.filter select {
  padding: 5px 10px;
}

.filter-container .search{
  position: absolute;
  margin: 20px;
  left: 64vw;
}



.filter-container .search input::placeholder{
  font-size: 0.7rem;
  color: gray;
}

.hackathon-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  padding-bottom: 20px;
  max-width: 60vw;
}

.hackathon-card {
  max-height: 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding:20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.hackathon-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}



.card-left {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.card-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
}

.card-logo {
  width: 80px;
  height: 80px;
  border-radius: 6px;
}

.card-title-container {
  width: 40vw;
  display: flex;
  flex-direction: column;

}
.card-title-container h3{
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
}
.card-title-container h3 span{
  color: #c2acac;
}
.card-title-container>div{
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  /* margin-top: -20px; */
}

/* .card-details {
  display: flex;
  gap: 20px;
  margin-top: 10px;
} */

.tags {
  display: flex;
  gap: 10px;
  
}

.tag {
  background: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}


/* Theme */
.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode .app{
  background-color: #333333;
}

.dark-mode .header {
  background-color: #444444;
}

.dark-mode .logo {
  color: #ffffff;
}

.dark-mode .nav a {
  color: #ffffff;
}

.dark-mode .nav a:hover {
  color: #f68b1e;
}

.dark-mode .search {
  background-color: #555555;
  border-color: #777777;
}

.dark-mode .search .icon {
  color: #f68b1e;
}

.dark-mode .search input {
  background-color: #555555;
  color: #ffffff;
}

.dark-mode .profile-email {
  color: #cccccc;
}

.dark-mode .dropdown {
  background-color: #444444;
}

.dark-mode .dropdown a,
.dark-mode .dropdown button {
  color: #ffffff;
}

.dark-mode .dropdown a:hover,
.dark-mode .dropdown button:hover {
  background-color: #555555;
}

/* Main Theme */
.dark-mode main{
  background-color: #333333;
}
.dark-mode p{
  color: #cccccc;
}
.dark-mode .tabs button{
  color: #ffffff;
}

.dark-mode .filter-container .search input::placeholder{
  color: #ffffff;
}

.dark-mode .hackathon-card{
  background-color: #4d4a4a;
}
.dark-mode .hackathon-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6), 0 3px 6px rgba(0, 0, 0, 0.4);
}

.dark-mode .tag{
 background-color: #555555;
}









